<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="th.co.dtac.digitalservices.msgcenter">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <!-- [START fcm_listener] -->
        <service
            android:name=".listener.PushFCMListenerService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <!--<category android:name="com.dtacmsgcentersdk" />-->
                <category android:name="th.co.dtac.digitalservices.msgcenter" />
            </intent-filter>
        </service>
        <!-- [END fcm_listener] -->

        <!--&lt;!&ndash; [START instanceId_listener] &ndash;&gt;-->
        <!--<service-->
            <!--android:name=".listener.PushInstanceIDListenerService"-->
            <!--android:exported="true">-->
            <!--<intent-filter>-->
                <!--&lt;!&ndash;<action android:name="com.google.android.gms.iid.InstanceID"/>&ndash;&gt;-->
                <!--<action android:name="com.google.firebase.INSTANCE_ID_EVENT" />-->
            <!--</intent-filter>-->
        <!--</service>-->
        <!-- [END instanceId_listener] -->

    </application>

</manifest>
